body {
    background: url("../img/background.jpg");
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1135px;
}

.menu .container {
    display: flex;
    align-items: center;
    margin-top: 64px;
    justify-content: space-between;
    flex-direction: row;
}

.navbar_item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 25px;
}

.symbol_bat {
    width: 79px;
    height: 28.38px;
}

.navbar {
    display: flex;
    align-items: center;
}

.symbol_bat {
    margin-right: 34px;
}

.label {
    margin-right: 20px;
}

.main {
    margin-top: 95px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

.rate_number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

.rate_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.starEmpty {
    font-size: 21px;
}

.starFill {
    font-size: 18px;
}

.starFill {
    background: url("/img/FilledStar.svg");
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

.starEmpty {
    background: url("/img/EmptyStar.svg");
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: 2px;
}

.rate_number {
    margin-left: 7px;
}


a {
    text-decoration: none;
}

h1 {
    font-family: Roboto;

    font-weight: bold;
    font-size: 76px;
    line-height: 91px;

    color: #ffffff;
}

.descr_play {
    display: flex;
    justify-content: space-between;
}

.decr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    color: #ffffff;
}

.play_button_wrapper {
    position: relative;
    width: 500px;
    height: 150px;
}

.play_button {
    background: url(/img/play-button.svg);
    background-position: contain;
    height: 132px;
    width: 132px;
    position: absolute;
    left: 150px;
}

.button_buy {
    padding: 22px 72px;
    background: #151515;
    border-radius: 8px;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-top: 41px;
    margin-bottom: 88px;
    font-weight: bolder;
}

.trailers {
    display: flex;
}

.trailer1 {
    width: 164px;
    height: 105px;
    background: url(/img/trailer1.svg);
    border-radius: 10px;
    margin-right: 20px;

}

.trailer2 {
    width: 164px;
    height: 105px;
    background: url(/img/trailer2.svg);
    border-radius: 10px;

}

.trailer_wrapper {
    position: relative
}

.trailer_numb {
    position: absolute;
    top: 85px;
    left: 14px;
    color: #FFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.footer {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 105px
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-family: Roboto;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.5;
    margin-right: 15px;
}

.right_footer_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
